// absolute position for home

// .home .main-navigation,
// .home .main-small-navigation {
.main-navigation,
.main-small-navigation {
	position: absolute;
	top: 0;
	width: 100%;

	@include respond-above( 'large' ) {

		top: auto;
		bottom: 0;

	}

}

.home .main-small-navigation {
	z-index: 100;
	border: none;
}

// shared

.main-navigation,
.main-small-navigation {
	@include clearfix();
	// position: relative;
	background: $green;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;

	a {
		display: block;
		text-decoration: none;
		color: #fff;
	}

	a:hover,
	a:focus {
		color: $darkerblue;
		background-color: #fff;
	}

	.current_page_item > a,
	.current-menu-item > a {
		background-color: $darkerblue;
		color: #fff;
	}
}

// mobile navigation

.main-small-navigation {

	.menu-toggle {
		@include responsive-text-size('deca');
		margin: 0;
		padding: 0;
		cursor: pointer;
		text-align: center;
		color: #fff;
		letter-spacing: normal;
		padding: 15px 0;

		&.toggled-on {
			background: $blue;
		}
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: none;

		li {

			a {
				padding: 7px 15px;
			}
		}
	}

	.sub-menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li {

			a {
				padding: 7px 0px 7px 30px;
			}

		}
	}
}

// desktop navigation

.main-navigation {
	// border-top: 2px solid $darkerblue;
	// height: 62px;
	height: 60px;

	.assistive-text {
		@include sr-only();
	}


	// caution - this class changes with the menu name
	.menu-main-menu-container {
		//@include container( breakpoint('large') );
		display: table;
		width: 100%;

		@include respond-above( 'x-large' ) {
			table-layout: fixed;
			// display: flex;
			// justify-content: space-around;
		}
	}

	.menu {
		@include responsive-text-size('deca');
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		// display: table-row;
		display: table;
		@include respond-above( 'large' ) {
			// table-layout: fixed;
			// display: flex;
			// justify-content: space-around;
			// align-content: stretch;
			// display: table;
		}

		@media screen and ( min-width: 1400px ) {
			display: flex;
			justify-content: space-around;
			align-content: stretch;
		}

		> li {
			display: table-cell;
			text-align: center;
			position: relative;
			float: none;
			@include respond-above( 'large' ) {
				// display: block;
				// width: 100%;
			}
			@media screen and ( min-width: 1400px ) {
				display: block;
				width: 100%;
			}
			.sub-menu {
				background: $offwhite;
				margin: 0;
				list-style: none;
				padding: 0;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				display: none;
				position: absolute;
				top: 100%;
				width: 100%;

				li {
					width: 100%;
					float: none;
				}

				li:last-child a {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}

				a {
					color: $darkerblue;

					&:hover {
						color: $green;
					}
				}

				.current_page_item > a,
				.current-menu-item > a {
					color: #fff;
					background: $green;
				}
			}

			&:hover {
				.sub-menu {
					display: block;
				}
			}
		}

	}

	a {
		display: block;
		text-decoration: none;
		color: #fff;
		padding: 17px 7px;

		@include respond-above( 'large' ) {
			padding: 15px 7px;
		}
	}

	a:hover,
	a:focus {
		color: $darkerblue;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: $darkerblue;
		color: #fff;
	}

	// Copied to affect all menu items on the site
	@media screen and ( min-width: 600px ) and ( max-width: 1200px ) {
		.use-title-for-small a {
			overflow: hidden;
			text-indent: -9999px;
			&:after {
				content: attr( title );
				float: left;
				text-indent: 0;
				width: 100%;
				text-align: center;
			}
		}
	}

}

// fixed menu
.menu li.fixed-menu {
	@media screen and ( min-width: 600px ) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		font-size: 18px;
		> a {
			display: none;
		}
		&:hover {
			.sub-menu {
				display: table;
			}
		}

		.sub-menu {
			display: table;
			table-layout: fixed;
			background-color: $darkerblue;
			border-radius: 0;
			z-index: 20;

			.menu-item {
				display: table-cell;
			}

			a {
				color: $offwhite;
				&:hover {
					color: $green;
				}
			}

		}
		.sub-menu li:last-child a {
			border-radius: 0;
		}
	}
	@media screen and ( min-width: 600px ) and ( max-width: 1200px ) {
		.use-title-for-small a {
			overflow: hidden;
			text-indent: -9999px;
			&:after {
				content: attr( title );
				float: left;
				text-indent: 0;
				width: 100%;
				text-align: center;
			}
		}
	}
	.logged-in & {
		@media screen and ( max-width: 782px ) {
			top: 42px;
		}
		@media screen and ( min-width: 783px ) {
			top: 32px;
		}
	}
}
